.toggle {
  width: 60px;
  height: 35px;
  position: relative;
  display: inline-block;
}
.toggle input {
  display: none;
}
.slider {
  background-color: #ccc;
  inset: 0;
  position: absolute;
  border-radius: 25px;
  transition: 0.3s;
  border: 1px solid #ccc;
}

.slider::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle input:checked + .slider {
  background-color: black;
  border: 1px solid black;
}

.toggle input:checked + .slider::before {
  transform: translateX(28px);
}
